/*
 * Tweaks and overrides to hyde.css
 */

@media (min-width: 48em) {
  html {
    font-size: 14px;
  }
}
@media (min-width: 58em) {
  html {
    font-size: 16px;
  }
}

.sidebar-about h1 {
  color: #fff;
  margin-top: 0;
  font-family: "Palatino Linotype", "Droid Serif", serif;
  font-size: 1.6rem;
}

.sidebar-nav {
  padding-left: 0;
  list-style: none;
  margin-bottom: 1rem;
}

/* Disable Sticky sidebar */
@media (min-width: 48em) {
  .sidebar-sticky {
    position: relative;
    right:  1rem;
    bottom: 1rem;
    left:   1rem;
  }
}
